@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100vw;
    background: linear-gradient(to right , rgb(30, 29, 29), rgb(41, 40, 40));
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-color: gold;
}


nav{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: -5px;
    background: linear-gradient(to right , rgb(30, 29, 29), rgb(41, 40, 40));
}
.navbar{
    padding: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.navbar i,.navbar .hamburgerelem{
    display: none;
    color: #fff;
}
.navbar .hamburgerelem{
    width: 80%;
    padding: 1rem;
    position: absolute;
    background-color: rgb(41, 40, 40);
    top: 4rem;
    z-index: 100;
    justify-content: center;
}
.navbar a{
    color: gold;
    text-decoration: none;
    margin: 0 1rem;
    cursor: pointer;
}
.navleft, .navright{
    display: flex;
    align-items: center;
}
.navmiddle h3{
    color: gold;
    font-size: 2rem;
    cursor: pointer;
}
.navmiddle a{
    margin: 0;
}
.navleft ul, .navright ul{
    display: flex;
}
.navbar li{
    list-style: none;
}

#home{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.homesec{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.homesec .hleft{
    height: 100%;
    width: 50%;
    padding-left:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.homesec .hleft h2{
    font-size: 4rem;
    color: gold;
}
.homesec .hleft p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #ffffffaf;
}
.homesec .hleft button{
    width: unset;
    background-color:gold;
    color: #000000;
    font-family: "Jersey 20", sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 0.4rem;
    cursor: pointer;
    border:none;
    border-radius: 0px;
}
.homesec .hright{
    height: 100%;
    display: flex;
    align-items: center;
}
.homesec .hright img{
    width: 25vw;
    box-shadow: inset 0px 1px 20px 20px #00000070;
}

#about{
    padding: 1rem;
    background-color: #fff;
    box-shadow:0px 1px 20px 20px #00000070;
    border-top: 100px solid rgb(30, 29, 29);
}

.aboutsec{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutsec .aleft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px dotted black;
    background: antiquewhite;
}
.aboutsec .aleft img{
    width: 20vw;
    padding: 1rem;
}
.aboutsec .aright{
    width: 50%;
    padding: 0 5rem;
}
.aboutsec .aright h2{
    font-size: 2rem;
    color: gold;
}
.aboutsec .aright p{
    margin:1rem 0;
}
.aboutsec .aright li{
    line-height: 1.3rem;
    color: #ffcc00;
}
.aboutsec .aright li span{
    color: #000000;
}

#testimonial{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.testimonialsec{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonialsec .timgs{
    width: 100%;
    height: 100%;
}
.testimonialsec .timgs img{
    width: 3rem;  
    height: 3rem;  
    border-radius: 50%;
    object-fit: cover;
    z-index: -10;
    filter: brightness(0.5);
}
.testimonialsec .timgs img:nth-child(1){
    position: relative;
    top: 3rem;
    left: 20%;
    transform: rotate(-10deg);
}
.testimonialsec .timgs img:nth-child(2){
    position: relative;
    top: 15rem;
    left: 15%;
    transform: rotate(-10deg);
}
.testimonialsec .timgs img:nth-child(3){
    position: relative;
    top: 10rem;
    left: 70%;
    transform: rotate(10deg);
}
.testimonialsec .ttop{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonialsec .ttop img{
    margin-bottom: 1rem;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.testimonialsec .tmiddle{
    margin: 1rem 0;
    color: gold;
    filter: brightness(0.7);
}
.testimonialsec .tbottom{
    width: 40%;
    text-align: center;
    font-size: 2rem;
}

.featuresec{
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.featuresec .fleft{
    display: flex;
    align-items: center;
}
.featuresec .fleft img{
    width: 20vw;
}
.featuresec .fright{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.featuresec .fright h1{
    font-size: 2rem;
    color: gold;
}
.featuresec .fright p{
    margin: 0.5rem 0;
}
.featuresec .fright p:nth-child(2){
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
}
.featuresec .fright span{
    color: rgb(161, 157, 157);
    font-size: 1rem;
    text-decoration: line-through;
}
.fright li{
    color: goldenrod;
    line-height: 1.2rem;
}
.fright button{
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    background-color: goldenrod;
    font-family: "Jersey 20", sans-serif;
    cursor: pointer;
}

.productsec{
    background-color: #d2cfcf;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    border-top: 70px solid rgb(255, 255, 255);
    border-bottom: 100px solid rgb(30, 29, 29);
    box-shadow: 0px 50px 20px 0px #00000070;
}
.productsec .productelem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1rem;
    box-shadow:0px 0px 20px 4px #00000070;
    background-color: #fff;
}
.productsec .productelem img{
    width: 15vw;
    height: 25vh;
    object-fit: contain;
    background-color: #000000;
    padding: 1rem;
}
.productsec .productelem h2{
    margin: 0.3rem 0;
    color: red;
}
.productsec .productelem button{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: "Jersey 20", sans-serif;
    background-color: goldenrod;
    border: 2px solid black;
    cursor: pointer;
}

.contactsec{
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
}
.contactsec .cinputs{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.contactsec .cinputs input,.contactsec .cinputs textarea{
    width: 20rem;
    background-color:gold;
    border: 2px solid black;
    padding: 0.5rem;
    outline: none;
    margin: 0.3rem 0;
}
.contactsec .cinputs input::placeholder,.contactsec .cinputs textarea::placeholder{
    color: #000000;
}
.contactsec .cinputs textarea::-webkit-resizer{
    display: none;
}
.contactsec .cinputs button{
    width: 20rem;
    background-color: goldenrod;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: "Jersey 20", sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 29, 29);
    border-top: 1px solid white;
    color: #fff;
    padding: 1rem 0;
}


@media screen and (max-width:1024px) {
    .navbar{
        width: 100%;
    }
    .homesec{
        width: unset;
    }
}
@media screen and (max-width:850px){
    .navbar{
        font-size:1.3rem;
    }
}
@media screen and (max-width:768px){
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    .navbar .navleft{
        display: none;
    }
    .navbar .navright{
        display: none;
    }
    .navbar i{
        display: block;
    }
    .homesec{
        flex-direction: column-reverse;
        align-items: center;
    }
    .homesec .hleft{
        display: ruby;
        text-align: center;
        width: 90%;
        padding: 0;
    }
    .homesec .hright img{
        width: 10rem;
    }
    .aboutsec{
        flex-direction: column;
    }
    .aboutsec .aleft{
        border: none;
    }
    .aboutsec .aright{
        width: 90%;
        padding: 0;
    }
    .aboutsec .aright h2{
        margin-top: 1rem;
        text-align: center;
    }
    .aboutsec .aright p{
        text-align: center;
    }
    .testimonialsec .timgs{
        display: none;
    }
    .testimonialsec .tbottom{
        width: 90%;
    }
    .featuresec{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .featuresec .fleft img{
        width: 10rem;
    }
    .featuresec .fright{
        margin-top: 1rem;
        width: 80%;
        align-items: center;
    }
    .fright li{
        list-style: none;
    }
    .productsec{
        flex-wrap: wrap;
    }
    .productelem{
        width: 100%;
        box-shadow: none !important;
        border: 2px solid black;
    }
    .productelem img{
        width: unset !important;
    }
    .contactsec .cinputs input,.contactsec .cinputs textarea{
        width: 90vw;
    }
}